*.[oa]
*.cache
*.gmo
*.log
*.trs
.deps
Makefile
Makefile.in
configure
/aclocal.m4
/autom4te.cache/
/config.h
/config.status
/stamp-h1
*.info
*.lo
/Pod-Simple-Texinfo/pod2texi
/aclocal.m4
/config.h
/config.in
/config.status
/doc/texinfo.info
/doc/texinfo.info-*
/doc/tp_api/api_includes/
/doc/tp_api/tp_api.texi
/doc/version-stnd.texi
/doc/version.texi
/info/doc.c
/info/funs.h
/info/ginfo
/info/makedoc
/info/pseudotty
/info/t/search-after-tag.sh.out
/install-info/ginstall-info
/install-info/tests/defs
/mimetype
/po/POTFILES
/po/remove-potcdate.sed
/po/texinfo.pot
/po_document/POTFILES
/po_document/remove-potcdate.sed
/po_document/texinfo_document.pot
/stamp-h1
/texindex/texindex
/texindex/texindex.awk
/tp/LocaleData/
/tp/Makefile.docstr
/tp/Makefile.tres
/tp/Texinfo/Convert/XSParagraph/TestXS.c
/tp/Texinfo/Convert/XSParagraph/compile
/tp/Texinfo/Convert/XSParagraph/config.guess
/tp/Texinfo/Convert/XSParagraph/config.h
/tp/Texinfo/Convert/XSParagraph/config.status
/tp/Texinfo/Convert/XSParagraph/config.sub
/tp/Texinfo/Convert/XSParagraph/depcomp
/tp/Texinfo/Convert/XSParagraph/install-sh
/tp/Texinfo/Convert/XSParagraph/libtool
/tp/Texinfo/Convert/XSParagraph/ltmain.sh
/tp/Texinfo/Convert/XSParagraph/m4/libtool.m4
/tp/Texinfo/Convert/XSParagraph/m4/ltoptions.m4
/tp/Texinfo/Convert/XSParagraph/m4/ltsugar.m4
/tp/Texinfo/Convert/XSParagraph/m4/ltversion.m4
/tp/Texinfo/Convert/XSParagraph/m4/lt~obsolete.m4
/tp/Texinfo/Convert/XSParagraph/missing
/tp/Texinfo/Convert/XSParagraph/stamp-h1
/tp/Texinfo/MiscXS/compile
/tp/Texinfo/MiscXS/config.guess
/tp/Texinfo/MiscXS/config.in
/tp/Texinfo/MiscXS/config.sub
/tp/Texinfo/MiscXS/depcomp
/tp/Texinfo/MiscXS/install-sh
/tp/Texinfo/MiscXS/ltmain.sh
/tp/Texinfo/MiscXS/missing
/tp/Texinfo/ModulePath.pm
/tp/defs
/tp/maintain/catalog.xml
/tp/makeinfo
/tp/t/include_dir/
/tp/tests/Makefile.onetst
/tp/tests/coverage_macro-cr.texi
/tp/tests/equivalent_nodes-noderename.cnf
/tp/tests/formatting/
/tp/tests/htmlxref-only_mono/Makefile.onetst
/tp/tests/htmlxref-only_mono/htmlxref.cnf
/tp/tests/htmlxref-only_mono/test_scripts/
/tp/tests/htmlxref-only_split/Makefile.onetst
/tp/tests/htmlxref-only_split/htmlxref.cnf
/tp/tests/htmlxref-only_split/test_scripts/
/tp/tests/htmlxref/Makefile.onetst
/tp/tests/htmlxref/htmlxref.cnf
/tp/tests/htmlxref/test_scripts/
/tp/tests/many_input_files/diffs/
/tp/tests/many_input_files/index_split/
/tp/tests/many_input_files/indices.out
/tp/tests/many_input_files/indices/
/tp/tests/sectioning/equivalent_nodes-noderename.cnf
/tp/tests/unknown_nodes_renamed-noderename.cnf
/tp/texi2any
/util/txixml2texi
aclocal.m4
gnulib/*
man/*.1
stamp-1
stamp-po
stamp-vti
node_modules/
/js/build/
/js/examples/kawa/kawa-ebook.js
