**/*~

texinfo-*
build
**/test

**/Makefile
**/Makefile.in
**/aclocal.m4
**/autom4te.cache
**/config.cache
**/config.h
**/config.in
**/config.status
**/config.log
**/configure
**/stamp-h1
**/.deps

**/*.exe
**/*.o
**/core
**/tags
**/*.swp

**/test-suite.log

pre-inst-env

po/*.gmo
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
po/texinfo.pot

po_document/*.gmo
po_document/POTFILES
po_document/remove-potcdate.sed
po_document/stamp-po
po_document/texinfo_document.pot

gnulib/lib/charset.alias
gnulib/lib/ref-add.sed
gnulib/lib/ref-del.sed
gnulib/lib/libgnu.a
gnulib/lib/alloca.h
gnulib/lib/argz.h
gnulib/lib/configmake.h
gnulib/lib/errno.h
gnulib/lib/fcntl.h
gnulib/lib/getopt.h
gnulib/lib/stdarg.h
gnulib/lib/stdbool.h
gnulib/lib/stdint.h
gnulib/lib/stdio.h
gnulib/lib/stdlib.h
gnulib/lib/string.h
gnulib/lib/strings.h
gnulib/lib/sys_stat.h
gnulib/lib/sys_time.h
gnulib/lib/sys
gnulib/lib/time.h
gnulib/lib/unistd.h
gnulib/lib/unitypes.h
gnulib/lib/uniwidth.h
gnulib/lib/wchar.h
gnulib/lib/wctype.h
gnulib/lib/math.h
gnulib/lib/stddef.h
gnulib/lib/limits.h

gnulib/lib/**/.dirstamp

doc/*.1
doc/*.html
doc/*.info
doc/*.info-*
doc/*.pdf
doc/*.t2p

doc/info-stnd.??
doc/info-stnd.??s
doc/info-stnd.aux
doc/info-stnd.dvi
doc/info-stnd.info*
doc/info-stnd.log
doc/info-stnd.toc
doc/short-sample-ja.aux
doc/short-sample-ja.dvi
doc/short-sample-ja.texi
doc/short-sample-ja.??
doc/short-sample-ja.??s
doc/short-sample-ja.log
doc/short-sample-ja.toc
doc/stamp-1
doc/stamp-vti
doc/texinfo
doc/texinfo-*
doc/texinfo.??
doc/texinfo.??s
doc/texinfo.txicmd
doc/texinfo.txicmds
doc/texinfo.aux
doc/texinfo.dvi
doc/texinfo.html
doc/texinfo.log
doc/texinfo.tex.sig
doc/texinfo.toc
doc/texinfo.xml
doc/texput.log
doc/version-stnd.texi
doc/version.texi
doc/wwwtemp
doc/version.texi
doc/version-stnd.texi

doc/refcard/*.dvi
doc/refcard/*.log
doc/refcard/*.ps

doc/tp_api/api_includes
doc/tp_api/tp_api.texi
doc/tp_api/tp_api_main.texi
doc/tp_api/man/info.1
doc/tp_api/man/infokey.1
doc/tp_api/man/install-info.1
doc/tp_api/man/makeinfo.1
doc/tp_api/man/texi2dvi.1
doc/tp_api/man/texindex.1

man/info.1
man/install-info.1
man/makeinfo.1
man/texi2dvi.1
man/texindex.1

info/doc.c
info/funs.h
info/ginfo
info/infokey
info/key.c
info/makedoc
info/pseudotty
info/t/*.log
info/t/*.trs

install-info/*.log
install-info/*.trs

install-info/ginstall-info
install-info/install-info

install-info/tests/*.log
install-info/tests/*.trs
install-info/tests/defs

tp/Makefile.onetst
tp/Makefile.docstr
tp/Makefile.tres

tp/t/results/**/out_*
tp/t/results/**/*.new

tp/maintain/catalog.xml

tp/t/include_dir
tp/t/locales
tp/t/output_files
tp/t/*.trs
tp/t/*.log

tp/tests/Makefile.onetst
tp/tests/*/tests.log
tp/tests/*/tests.out
tp/tests/*/diffs
tp/tests/*/out_parser
tp/tests/*/out_parser_info
tp/tests/*/out_info
tp/tests/*/raw_out_parser
tp/tests/*/raw_out_parser_info
tp/tests/*/test_log

tp/tests/*.log
tp/tests/*.trs
tp/tests/t/*.log
tp/tests/t/*.trs
tp/tests/test_scripts/*.log
tp/tests/test_scripts/*.trs

tp/tests/equivalent_nodes-noderename.cnf

tp/tests/formatting/unknown_nodes_renamed-noderename.cnf

tp/tests/many_input_files/indices
tp/tests/many_input_files/index_split
tp/tests/many_input_files/tex_l2h
tp/tests/many_input_files/tex_t4ht
tp/tests/many_input_files/raw_out
tp/tests/many_input_files/*.log
tp/tests/many_input_files/*.trs
tp/tests/many_input_files/indices.out

tp/tests/sectioning/equivalent_nodes-noderename.cnf

tp/LocaleData

tp/defs
tp/makeinfo
tp/t_texis
tp/texi2any
tp/texi_sort_elements_count
tp/*.trs
tp/*.log
tp/*.html

tp/Texinfo/ModulePath.pm
tp/Texinfo/*.html

tp/Texinfo/Convert/*.html

tp/Texinfo/XS/*.lo
tp/Texinfo/XS/*.la
tp/Texinfo/XS/.libs

tp/Texinfo/XS/TestXS.c
tp/Texinfo/XS/MiscXS.c
tp/Texinfo/XS/XSParagraph.c
tp/Texinfo/XS/ar-lib
tp/Texinfo/XS/compile
tp/Texinfo/XS/config.guess
tp/Texinfo/XS/config.h
tp/Texinfo/XS/config.sub
tp/Texinfo/XS/config.log
tp/Texinfo/XS/depcomp
tp/Texinfo/XS/install-sh
tp/Texinfo/XS/libtool
tp/Texinfo/XS/ltmain.sh
tp/Texinfo/XS/missing
tp/Texinfo/XS/stamp-h1

tp/Texinfo/XS/gnulib/lib/.libs
tp/Texinfo/XS/gnulib/lib/*.lo
tp/Texinfo/XS/gnulib/lib/libgnu.la

tp/Texinfo/XS/gnulib/lib/alloca.h
tp/Texinfo/XS/gnulib/lib/limits.h
tp/Texinfo/XS/gnulib/lib/stddef.h
tp/Texinfo/XS/gnulib/lib/stdint.h
tp/Texinfo/XS/gnulib/lib/stdio.h
tp/Texinfo/XS/gnulib/lib/string.h
tp/Texinfo/XS/gnulib/lib/wchar.h

tp/Texinfo/XS/gnulib/lib/sys/types.h

tp/Texinfo/XS/parsetexi/command_data.c
tp/Texinfo/XS/parsetexi/Parsetexi.c
tp/Texinfo/XS/parsetexi/config.h
tp/Texinfo/XS/parsetexi/config.log
tp/Texinfo/XS/parsetexi/config.guess
tp/Texinfo/XS/parsetexi/config.in
tp/Texinfo/XS/parsetexi/config.sub
tp/Texinfo/XS/parsetexi/libtool
tp/Texinfo/XS/parsetexi/ltmain.sh
tp/Texinfo/XS/parsetexi/stamp-h1

tp/Texinfo/XS/parsetexi/.libs
tp/Texinfo/XS/parsetexi/*.la
tp/Texinfo/XS/parsetexi/*.lo

texindex/texindex.awk
texindex/texindex.awk.in
texindex/ti.aux
texindex/ti.??
texindex/ti.??s
texindex/ti.info
texindex/ti.log
texindex/ti.toc
texindex/ti.pdf
texindex/ti.t2p
texindex/ti.texi
texindex/texindex.html
texindex/texindex.info
texindex/texindex
texindex/ti.t2d
texindex/tests/*.trs
texindex/tests/*.log

util/defs

util/testSubDir
util/texindex
util/texinfo.cat
util/txixml2texi
util/*.sig

util/tests/*.trs
util/tests/*.log

contrib/perldoc-all/perl-5.*
contrib/perldoc-all/perldoc-all
contrib/perldoc-all/perldoc-all-incl.texi
contrib/perldoc-all/perldoc-all.html
contrib/perldoc-all/perldoc-all.info
contrib/perldoc-all/manual
contrib/perldoc-all/*.aux
contrib/perldoc-all/perldoc-all.??
contrib/perldoc-all/perldoc-all.???

js/build-aux/install-sh
js/build-aux/missing
js/examples/hello-html
js/examples/kawa-html
js/node_modules

Pod-Simple-Texinfo/pod2texi
Pod-Simple-Texinfo/*.log
Pod-Simple-Texinfo/*.tmp
Pod-Simple-Texinfo/*.trs

makeinfo/makeinfo

texi2html/po_document/*.gmo
texi2html/po_document/POTFILES
texi2html/po_document/remove-potcdate.sed
texi2html/po_document/stamp-po
texi2html/po_document/texi2html_document.pot

texi2html/po_messages/*.gmo
texi2html/po_messages/POTFILES
texi2html/po_messages/remove-potcdate.sed
texi2html/po_messages/stamp-po
texi2html/po_messages/texi2html.pot

texi2html/check_texinfo.pl
texi2html/config.rpath
texi2html/config.log
texi2html/i18n
texi2html/language-subtag-registry
texi2html/locales
texi2html/m4
texi2html/manage_i18n.pl
texi2html/texi2html
texi2html/texi2any
texi2html/makeinfo
texi2html/texi2any.pl
texi2html/makeinfo.pl
texi2html/texi2html-*.tar.bz2
texi2html/texi2html-*.tar.gz
texi2html/texi2html-*.zip
texi2html/texi2html.spec
texi2html/texi2html.temp
texi2html/texi2html_configured.pl
texi2html/translations.pl

texi2html/test/path_separator

texi2html/test/*/tests.log
texi2html/test/*/tests.out
texi2html/test/*/diffs
texi2html/test/*/out
texi2html/test/*/out_all
texi2html/test/*/out_info
texi2html/test/*/out_parser
texi2html/test/*/out_parser_info
texi2html/test/*/res_parser
texi2html/test/*/res_parser_info

texi2html/test/sectioning/equivalent_nodes-noderename.cnf

texi2html/test/many_input_files/indices
texi2html/test/many_input_files/index_split
texi2html/test/many_input_files/tex_l2h
texi2html/test/many_input_files/tex_t4ht

